@import 'partials/normalize';

body {
    margin: 0;
    font-family: Lato, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: left;
    background-color: #1A1C20;
    position: relative;
    min-height: 100vh;
    padding-bottom: 50px;

    .container {
        max-width: 75%;
        margin: 0 auto;
    }
}

.portfolio-navbar.navbar {
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
}

.gradient {
    background: #0156A8;
}

.fixed-bottom,
.fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.fixed-top {
    top: 0;
}

.navbar {
    padding: .5rem 1rem;

    a {
        color: white;
    }

    .navbar-brand.logo {
        float: left;
        padding: 15px;
        font-weight: bold;
    }

    .nav {
        float: right;
        padding: 15px;
        margin: 0;
    }
}

@media (min-width: 576px) {
.portfolio-navbar.fixed-top+.page {
    padding-top: 5.5rem;
}
}

.portfolio-navbar.fixed-top+.page {
    padding-top: 62px;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

@media (min-width: 768px) {
.portfolio-block {
    padding-bottom: 100px;
    padding-top: 100px;
}
}

.portfolio-block {
    padding-bottom: 60px;
    padding-top: 60px;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

@media (min-width: 768px) {
.portfolio-block .heading {
    margin-bottom: 80px;
}}

.portfolio-block .heading {
    margin-bottom: 50px;
    text-align: center;
}

@media (min-width: 768px) {
.portfolio-block .heading h2 {
    font-size: 2rem;
}}
.portfolio-block .heading h2 {
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.formulas {
    display: grid;
    grid-template-columns: repeat(auto-fill, 33.33%);

    @media (max-width: 1800px) {
        grid-template-columns: repeat(auto-fill, 50%);
    }

    @media (max-width: 1200px) {
        grid-template-columns: repeat(auto-fill, 100%);
    }

    .col {
        margin: 10px;
        max-height: 250px;

        .project-card-no-image {
            box-shadow: 0 3px 10px rgba(0,0,0,.5);
            padding: 35px;
            border-top: 4px solid #0156A8;
            margin-bottom: 30px;
            background-color: #0e1012;
            height: 100%;
            position: relative;
            .tags {
                position: absolute;
                text-transform: uppercase;
                float: right;
                font-size: .75em;
                margin-top: 7px;
                bottom: 40px;
                right: 35px;
                a {
                    color: #979797;
                }
            }
            h3 {
                font-size: 1.3em;
                margin-bottom: 20px;
                height: 135px;
            }
            h4 {
                font-size: 1em;
                opacity: .6;
                margin-bottom: 20px;
            }

            .btn {
                bottom: 35px;
                position: absolute;
                display: inline-block;
                font-weight: 400;
                color: #0ea0ff;
                text-align: center;
                vertical-align: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                background-color: transparent;
                border: 1px solid #0ea0ff;
                padding: .25rem .8rem;
                font-size: .875rem;
                line-height: 1.5;
                border-radius: 2em;
                transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

                &:hover {
                    color: #fff;
                    background-color: #0ea0ff;
                    border-color: #0ea0ff;
                }
            }
        }
    }
}

.list-inline, .list-unstyled {
    padding-left: 0;
    list-style: none;
}
dl, ol, ul {
    margin-top: 0;
}
address, dl, ol, ul {
    margin-bottom: 1rem;
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.h3, h3 {
    font-size: 1.75rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

.h4, h4 {
    font-size: 1.5rem;
}

a {
    color: #0ea0ff;
    text-decoration: none;
    background-color: transparent;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

.page-footer {
    padding: 25px;
    background-color: #0e1012;
    border-top: 1px solid #0156A8;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    .links a {
        display: inline-block;
        color: #fff;
    }
}

li {
    .active {
        text-decoration: underline;
    }
}

.portfolio-block.project .more-projects {
    margin-top: 50px;
    border-top: 1px solid #0156A8;
    padding-top: 60px;
}

.portfolio-block.project .more-projects h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 60px;
}
.portfolio-block.project h3 {
    font-weight: 700;
    font-size: 1.4em;
    margin-bottom: 20px;
}
.text-center {
    text-align: center!important;
}

.portfolio-block.project .meta .tags .meta-heading {
    color: #0156A8;
    margin-bottom: 5px;
    font-weight: 700;
}